[tool.poetry]
name = "stqdm"
version = "0.0.2"
description = "Easy progress bar for streamlit based on the awesome streamlit.progress and tqdm"
authors = ["Wirg"]
license = "Apache License 2.0"
keywords = ["streamlit", "progressbar", "progressmeter", "progress", "bar", "meter", "rate", "eta", "tqdm"]
readme = "README.md"
homepage = "https://github.com/Wirg/stqdm"
repository = "https://github.com/Wirg/stqdm"
include = [
    "LICENSE",
]
classifiers = [
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.6"
tqdm = "^4.50"
streamlit = "^0.66"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
pytest = "^6.1.2"
pytest-cov = "^2.10.1"

[tool.black]
line-length = 127
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \venv
)/
'''

[tool.pytest.ini_options]
addopts = "-ra --cov-fail-under=15 --cov stqdm"
testpaths = ["tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
